.filterStyle {
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 103px;
  margin-right: 20px;
  width: 232px;
  height: 331px;
  display: flex;
  flex-direction: column;
}

.currenciesHeader {
  color: #4a4a4a;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
}
.TransfersHeader {
  color: #4a4a4a;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
}

.currenciesName {
  width: 68px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #d2d5d6;
  background-color: #ffffff;
}

.currenciesName:hover {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid #64b5f5;
  background-color: #f2fcff;
}

.currenciesName:active {
  background-color: #2196f3;
}
.filterTransfers {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  flex-wrap: wrap;
}

.filterItem {
  text-align: left;
}

.currencies {
  padding-left: 15px;
}
