.Ticketstyle {
  width: 566px;
  height: 161px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}

.Button {
  width: 160px;
  height: 56px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08;
  border-radius: 5px;
  background-color: #ff6d00;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans Semibold";
  font-weight: 600;
  margin: 80px 20px 25px 20px;
}

.TicketBuy {
  border-right: 1px solid #ff0e0e;
  background-color: rebeccapurple;
}

.TicketInfo {
  background-color: aqua;
  width: 100%;
}
