.filterStyle {
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 103px;
  margin-right: 20px;
}

.filterHeader {
  color: #4a4a4a;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.currenciesName {
  width: 68px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: #2196f3;
  text-transform: uppercase;
}

.filterTransfers {
  display: flex;
  flex-direction: column;
}

.filterItem {
  text-align: left;
}
